.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.searchBarContainer {
    max-width: 620px;
    margin-right: 4rem;
}

.logoContainer {
    padding:0;
}

.logoLink {
    margin-right: 3rem;
}

.logoImage {
    max-width: 100%;   
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) .logoImage {
    max-height: 36px;
}

:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) {
    height: 56px;
    border: 1px solid #D8D7D5;
    border-radius: 30px;
    box-shadow: 1px 2px 4px #d8d7d56e;
}
:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input__suffix) {
    background-size: cover;
    width: 73px;
    height: 56px;
    background-position: center;
}

:global(.vtex-store-components-3-x-container ) :global(.vtex-flex-layout-0-x-flexRowContent--pdp-view-buy) {
    padding: 0px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .imageElementLink {
    display: flex;
    height: 0;
    align-content: center;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.flexColChild{
    text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .imageElementLink .imageElement {
    margin-bottom: -100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.productNameContainer {
    font-weight: 500;
    font-size: 1.8rem;
    margin: 25px 0px 5px;
    color:#1f201e;
}

.productBrandContainer {
    margin-bottom: 0;
}

.productBrandName {
    color:#1f201e;
    font-size: 1.0rem;
    font-weight: 600;
}

.listPriceValue, .sellingPrice {
    padding: 0;
}

.listPriceLabel, .sellingPriceLabel {
    display: none;
}

.price_listPrice {
    color: #282D2F;
    font-size: 1.2rem;
    font-weight: 500;
} 

.price_sellingPrice {
    font-weight: bold;
    color: #000;
    font-size: 2.8rem;
}

.price_installmentContainer {
    color: #c4c4c4;
}

.savingPriceValue {
    background: #8bc34a;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
}

.skuSelectorSubcontainer{
    margin-top: 20px;
}

.skuSelectorName{
    color: #000;
    font-weight: bold;
}

:global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-store-components-3-x-skuSelectorItem):first-child{
    margin-left: 0px;
}

.productDescriptionContainer {
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.productDescriptionTitle, .shippingTableRadioBtn {
    display: none;
}

.productDescriptionText {
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding: 0 0.5rem;
    color: #212220;
}

.productDescriptionText .pointerEventsAuto {
    background: #fff;
    text-align: left;
}

.productDescriptionText .pointerEventsAuto .showMoreButton {
    color: #282D2F;
    background: #fff;
    text-decoration: underline;
    padding: 0;
    margin: 1rem 0;
}

.shippingContainer {
    padding-top: 1rem;
    width: 50%;
    position: relative;
}
.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input__label){display: none;}
.shippingContainer::before {
   content: "Calcule o seu frete";
    font-size: 1.18rem;
    color: #20211f;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
.shippingContainer :global(.vtex-input-prefix__group){
    border-radius: 40px;
    height: 57px;
    position: relative;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer--opened) :global(.vtex-input-prefix__group){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.imageElement--icon-zapzap{
  max-height: 50px;
  display: block;
  position: fixed;
  bottom: 2%;
  right: 1%;
  left: unset;
  width: 50px;
  z-index: 999999;
}
@media screen and (max-width: 760px) {
  .searchBarContainer {
    margin-right: 0;
  }
}
.infoCardCallActionContainer{width: 100%;}
.infoCardContainer--info-card-ofertas{width: 100%;}
:global(.vtex-store-components-3-x-shareLabel){
    color: #1C3664;
    font-size: 1.18rem;
}
/* Mobile */
@media (max-width: 1023px) {
    .shippingContainer {
        width: 100%;
    }
}