/* Footer */
.footerLayout {
  background: #f3f3f3;
  position: relative;
}
:global(.vtex-menu-2-x-styledLink--item-footer){
color: #fff;
}
:global(.vtex-flex-layout-0-x-flexRowContent--section__top__footer){
padding-top: 0;
}
:global(.vtex-menu-2-x-menuContainer--menu_top_footer) :global(.vtex-menu-2-x-styledLinkContainer--item-menu){
margin: 0;
}
:global(.vtex-menu-2-x-menuContainer--menu_top_footer) :global(.vtex-menu-2-x-styledLinkContent){
color: #fff;
}
:global(.vtex-flex-layout-0-x-flexRowContent--footer-row-social) :global(.vtex-store-components-3-x-imageElement){
height: 28px;
}
:global(.vtex-flex-layout-0-x-flexCol--footer-col-seg-social){
display: flex;
flex-direction: initial;
align-items: center;
justify-content: space-between;
}
:global(.vtex-flex-layout-0-x-flexColChild--footer-col-seg-social){
display: flex;
align-items: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--footer-row-social) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
margin-left: 1rem;
}
:global(.vtex-flex-layout-0-x-flexCol--footer-col-seg-social) :global(.vtex-flex-layout-0-x-flexColChild--footer-col-seg-social):first-child{
display: flex;
padding-left: 8rem;
align-items: center;
}
:global(.vtex-rich-text-0-x-wrapper--col_footer_security) :global(.vtex-rich-text-0-x-headingLevel4--col_footer_security){
position: relative;
margin: 0px;
font-size: 1rem;
line-height: 1rem;
display: flex;
align-items: center;
padding-right: 100px;
color: #fff;
}
:global(.vtex-rich-text-0-x-wrapper--col_footer_security) :global(.vtex-rich-text-0-x-headingLevel4--col_footer_security) :global(.vtex-rich-text-0-x-image--col_footer_security){
position: absolute;
right: 0;
top: -16px;
}
:global(.vtex-store-header-2-x-headerStickyRow--top-bar) :global(.vtex-sandbox-iframe),  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-sandbox-iframe){
position: fixed;
bottom: 2%;
right: 1%;
z-index: 99999;
}
.footerLayout :global(.vtex-flex-layout-0-x-flexCol--col-sandbox-menu) :global(.vtex-sandbox-iframe) {
position: relative;
bottom: unset;
right: unset;
}
@media screen and (max-width: 760px) {
.footerLayout .socialNetworksContainer, .footerLayout .acceptedPaymentMethodContainer {
  justify-content: center;
}
.footerLayout :global(.vtex-store-components-3-x-imageElementLink) {
  display: flex;
  justify-content: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-pagamentos){
  display: flex;
  margin: 25px 0;
}
}
@media screen and (max-width: 1024px) {
:global(.vtex-menu-2-x-menuContainer--footer-contact-row) {
    padding: 0 1rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-powered){
  display: flex;
  margin-top: 20px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-powered) :global(.vtex-store-components-3-x-imageElement){
  max-height: 30px;
}
}