.product-identifier {
    display: none;
}
.product-identifier__label{
    color: #585858;
    font-size: 1.12rem;
}
.product-identifier__value{
    color: #1C3664;
    font-size: 1.12rem;
    font-weight: bold;
}