:global(.vtex-product-summary-2-x-container--listLayout) {
  min-width: 100%;
}
:global(.vtex-product-summary-2-x-container--listLayout) :global(.vtex-button) {
  margin-top: 20px;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-nameContainer){
  padding-bottom: 10px;
  min-height: 70px;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-brandName){
  color: #212220;
  font-size: 15px;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-sellingPrice){
  color: #212220;
  font-size: 24px;
  font-weight: bold;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-button){
  background: #59C00B;
  text-transform: uppercase;
  border-radius: 30px;
  border: 0;
  font-size: 15px;
}

