@font-face {
  font-family: 'hind_madurairegular';
  src: url('assets/fonts/hindmadurai-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/hindmadurai-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hind_maduraibold';
  src: url('assets/fonts/hindmadurai-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/hindmadurai-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hind_madurailight';
  src: url('assets/fonts/hindmadurai-light-webfont.woff2') format('woff2'),
       url('assets/fonts/hindmadurai-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}